<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eruditio</title>
	
	<!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
	
	<!-- owl carousel -->
	<link rel="stylesheet" href="/css/flickity.css" media="screen">
	<script src="/js/flickity.pkgd.min.js"></script>

	<!-- Bootstrap Date-Picker Plugin -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
   
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

	
	<!-- fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,900,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    
</head><!--/head-->

<body>
 <!--/header-->
 
      <section class="error">
       

			<div class="container" style="height: 100%;">

<div class="row">
 <div class="col-lg-8 col-lg-offset-2 text-center">	
    <div class="error-container">
	<img src="/images/error.png" class="img-responsive">
	
	<p>
	<%=error.message%> 
	</p>
	<a href="/" class="col-lg-2 col-lg-offset-5 btn btn-back" role="button">Назад</a>

	</div>
	</div>
</div>
</div>
    </section><!--/#feature-->
    <script src="/js/jquery.js"></script>

	
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
</body>
</html>