<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eruditio</title>
    
    <!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>

    
    <!-- flickity -->
    <link rel="stylesheet" href="css/flickity.css" media="screen">
    <script src="js/flickity.pkgd.min.js"></script>

    
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,900,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body class="homepage">
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-xs-12 text-center">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-sm-10 col-xs-12 text-center">
                        <div class="social">
                            <div class="home-login">

                                <% if(typeof user != 'undefined'){ %>

                                    Здравей,
                                    <%=user.firstName %>
                                        <%=user.lastName %>
                                            <ul class="top-account">
                                                <li><a href="/auth/logout"><i class="fa fa-pencil-square-o"></i> Изход</a></li>
                                            </ul>
                            </div>
                            <% }
                                    else {%>



                        </div>
                        <ul class="top-account">
                            <li><a href="/auth/login"><i class="fa fa-user"></i> Вход</a></li>
                            <li><a href="/auth/register"><i class="fa fa-pencil-square-o"></i> Регистрация</a></li>
                        </ul>
                        <% } %>


                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
        </div>
        <!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Начало</a></li>
                        <li><a href="/teachers">Учители</a></li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle = "dropdown">Уроци<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/lessons">Търси уроци</a></li>
                                <li><a href="/lessons/post">Публикувай урок</a></li>
                                <% if( typeof user != 'undefined' && !user.isStudent) { %>
                                    <li><a href='/profile/requests'>Моите заявки</a></li>
                                <% } %>
                            </ul>
                        </li>
                        <% if(user) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle = "dropdown" >Профил<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/id/<%=user._id%>">Моят профил</a></li>
                                <li><a href="/profile/edit">Редактирай профил</a></li>
                                <li><a href="/profile/lessons">Моите уроци</a></li>
                                <li><a href="/profile/messages">Моите разговори</a></li>
                            </ul>
                        </li>
                        <% } %>

                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->


   <!-- Slider start -->
    <div id="slider_part">
         <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
            <!-- Indicators -->
             <ol class="carousel-indicators text-center">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
             </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <div class="overlay-slide">
                        <img src="/images/4.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="carousel-caption">
                        <div class="col-md-12 col-xs-12 text-center">
              
                            <h3 class="animated2">  Уроци и лекции </h3>
                            <div class="line"></div>
                            <p class="animated3"> от учители, университети и компании, локализирани във всяка точка на света </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="overlay-slide">
                        <img src="/images/5.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="carousel-caption">
                        <div class="col-md-12 col-xs-12 text-center">
                            <h3 class="animated3"> Библиотека от уроци</h3>
                            <div class="line"></div>
                            <p class="animated2"> предавани на живо с feedback от гледащите или  качени и запазени за всеобщо ползване.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="overlay-slide">
                        <img src="/images/7.jpeg" alt="" class="img-responsive">
                    </div>
                    <div class="carousel-caption">
                        <div class="col-md-12 col-xs-12 text-center">
               
                            <h3 class="animated3">   Достъпни за всички </h3>
                            <div class="line"></div>
                            <p class="animated2"> които искат да разширят знанията си или да ги споделят.</p>
                        </div>
                    </div>
                </div>

             </div>
</div>           <!-- End Carousel Inner -->

            <!-- Controls -->
            
        </div>
    <!--/ Slider end -->
    


    <section id="popular-teachers">
     <div class="container popular-teachers">
           <div class="center wow fadeInDown">
                <h2>Най-добри учители</h2>
               <div class="tx-div"></div>
               </div>
         <div class="container">  
          <div class="teachersresponsive">
          <% for(var i=0;i<teachers.length;i++) {%>
          <div class="item text-center">
                    <div class="single-member">
                        <div class="overlay-hover">
                            <img src="data:image/jpeg;base64, <%=teachers[i].avatar%>" alt="" class="img-responsive">
                            <div class="overlay-effect">
                               <a href="">Виж профил</a>
                               </div>
                        </div>
                        <h3><%=teachers[i].firstName%> <%=teachers[i].lastName%></h3>
                       
                    </div>
                </div>  
        <% }%>
             </div>     
       </div>
  
         </div><!--/.container-->

     </section><!--/#services-->

  <section id="search">
        <div class="container">
            <div class="center">
                <h2> Търсене</h2>
                <div class="tx-div-white"></div>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>    
        <div class="row">
        <div class="col-md-12">
          <div class="field" id="searchform">
  <input type="text" id="searchterm" placeholder="Какво ще търсите?" />
  <button type="button" class="search"><i class="fa fa-search" aria-hidden="true"></i></button>
</div>      
            </div>
            </div>
        </div><!--/.container-->
    </section><!--/#partner-->

   
  
  
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019 <a target="_blank" href="#" title="#">Eruditio</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
 


  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/js/slick.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
    $(".responsive").slick({
  dots: true,
  infinite: false,
  speed: 300,
  slidesToShow: 3,
  slidesToScroll: 3,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
    });
  </script>
   <script type="text/javascript">
    $(document).ready(function(){
    $(".teachersresponsive").slick({
  dots: true,
  infinite: false,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 4,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 4,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
    });
  </script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
</body>
</html>