<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eruditio</title>

    <!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

    <!-- owl carousel -->
    <link rel="stylesheet" href="/css/flickity.css" media="screen">
    <script src="/js/flickity.pkgd.min.js"></script>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <link rel="stylesheet" type="text/css" href="/css/bootstrap-clockpicker.min.css">

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,900,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="radio"]').click(function () {
                if ($(this).attr("value") == "paid") {
                    $(".box").not(".paid").hide();
                    $(".paid").show();
                }
                if ($(this).attr("value") == "free") {
                    $(".box").not(".free").hide();
                    $(".free").show();
                }
            });
        });
    </script>
</head>
<!--/head-->

<body>

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
                </div>


            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->
    <section id="login">
        <div class="container last-lessons">
            <div class="center wow fadeInDown">
                <h2>Добавяне на урок</h2>
                <div class="tx-div"></div>
            </div>

            <div class="container">
                <div class="row">
                    <form role="form" method="post" action="/lessons/post">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="form-info">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <h5>Име на урок:</h5>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-book  fa-fw" aria-hidden="true"></i></span>
                                            <input type="text" name="name" id="first_name" class="form-control input-signup" tabindex="1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Дата:</h5>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="date" name="date" placeholder="MM/DD/YYY"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Час</h5>
                                        <div class="input-group clockpicker">
                                            <input type="text" class="form-control" value="09:30" name='time'>
                                            <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>

                                    </div>
                                    <label class="control-label label_date">
                                        <h5>Предмет:</h5></label>
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-book  fa-fw" aria-hidden="true"></i></span>
                                                <select class="form-lessons" name="subject">
                                                    <option value='' hidden="true">Изберете предмет/област</option>
                                                    <option value='История' name="subject">История</option>
                                                    <option value='География' name="subject">География</option>
                                                    <option value='БЕЛ' name="subject">БЕЛ</option>
                                                    <option value='Физика' name="subject">Физика</option>
                                                    <option value='Руски език' name="subject">Руски език</option>
                                                    <option value='Немски език' name="subject">Немски език</option>
                                                    <option value='Английски език' name="subject">Английски език</option>
                                                    <option value='Химия' name="subject">Химия</option>
                                                    <option value='Биология' name="subject">Биология</option>
                                                    <option value='Математика' name="subject">Математика</option>
                                                    <option value='Информатика' name="subject">Информатика</option>
                                                    <option value='Информационни технологии' name="subject">Информационни технологии</option>
                                                </select>

                                            </div>
                                            <div id="AddHereDD"></div>
                                        </div>
                                        <div class="col-md-1 text-center">
                                            <input type="button" class="btn-plus" id="buttonToAddDD" value="+" />
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="form-info">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h5>Информация за урока</h5>
                                        <textarea class="form-control" name="addInfo" id="addInfo" rows="5"></textarea>
                                    </div>
                                    <div class="col-sm-12">
                                        <h5>Вид на урока:</h5>

                                        <div>
                                            <label>
                                                <input type="radio" name="Radio" value="paid"> Платен</label>
                                            <label>
                                                <input type="radio" name="Radio" value="free"> Безплатен</label>
                                        </div>
                                        <div class="paid box" style="display: none;">
                                            <h5>Цена</h5>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-money  fa-fw" aria-hidden="true"></i></span>
                                                    <input type="text" name="first_name" id="first_name" class="form-control input-signup" tabindex="1">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-lessons">
                                                    <option>лв.</option>
                                                    <option>евро</option>
                                                    <option>долар</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="free box" style="display: none;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-panel">
                                <input type='submit' class="pull-right col-lg-3 btn btn-primary btn-login" role="button" value='Добави'> 
                            </div>
                        </div>

                    </form>
                </div>
            </div>
    </section>
    <!--/#feature-->


    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019 <a target="_blank" href="#" title="#">Eruditio</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->



    <script type="text/javascript" src="/js/bootstrap-clockpicker.min.js"></script>
    <script>
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
            language: "bg",
        };
        date_input.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
    </script>
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>
    <script>
        $("#buttonToAddDD").click(function () {
            var newDD = $('<select class="form-lessons margin-bottom" />');
            $(newDD).append('<option hidden="true">Изберете друг предмет/област</option>');
            $(newDD).append('<option>Втори предмет</option>');
            $("#AddHereDD").append(newDD);
        });
    </script>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/wow.min.js"></script>
</body>

</html>