<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eruditio</title>

    <!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <!-- flickity -->
    <link rel="stylesheet" href="/css/flickity.css" media="screen">
    <script src="/js/flickity.pkgd.min.js"></script>

    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>




    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,900,300&subset=latin,cyrillic'
        rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body class="homepage">
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-xs-12 text-center">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-sm-10 col-xs-12 text-center">
                        <div class="social">
                            <div class="home-login">

                                <% if(typeof user != 'undefined'){ %>

                                Здравей,
                                <%=user.firstName %>
                                <%=user.lastName %>
                                <ul class="top-account">
                                    <li><a href="/auth/logout"><i class="fa fa-pencil-square-o"></i> Изход</a></li>
                                </ul>
                            </div>
                            <% }
                                    else {%>



                        </div>
                        <ul class="top-account">
                            <li><a href="/auth/login"><i class="fa fa-user"></i> Вход</a></li>
                            <li><a href="/auth/register"><i class="fa fa-pencil-square-o"></i> Регистрация</a></li>
                        </ul>
                        <% } %>


                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
        </div>
        <!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Начало</a></li>
                        <li><a href="/teachers">Учители</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">Уроци<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/lessons">Търси уроци</a></li>
                                <li><a href="/lessons/post">Публикувай урок</a></li>
                                <% if( typeof user != 'undefined' && !user.isStudent) { %>
                                <li><a href='/profile/requests'>Моите заявки</a></li>
                                <% } %>
                            </ul>
                        </li>
                        <% if(user) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">Профил<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/id/<%=user._id%>">Моят профил</a></li>
                                <li><a href="/profile/edit">Редактирай профил</a></li>
                                <li><a href="/profile/lessons">Моите уроци</a></li>
                                <li><a href="/profile/messages">Моите разговори</a></li>
                            </ul>
                        </li>
                        <% } %>

                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->

    <div id="lesson_page">
        <div class="container">
            <div class="row title">
                <div class="col-lg-12">
                    <div class="lesson-title">
                        <%=lesson.name%>
                    </div>
                </div>
            </div>
        </div> <!-- End Carousel Inner -->

        <!-- Controls -->

    </div>

    <section id="lessons">
        <div class="container my-lessons">

            <div class="row">


                <div class="col-lg-9 col-md-9 col-md-push-3">

                    <video id="camera" autoplay="autoplay" class="center-block"></video>


                    <div class="msg-wrap">
                    </div>
                    <div class="send-wrap ">
                        <textarea class="form-control send-message" id="sendArea" rows="3"
                            placeholder="Write a reply..."></textarea>
                    </div>
                    <div class="btn-panel">
                        <button class="pull-right col-lg-3 btn btn-primary btn-login" id="sendButton"
                            role="button">Изпрати</button>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-md-pull-9" id="usersholder">
                    <h2>Участници</h2>
                    <div class="tx-content-div"></div>


                    <!--
  <div class="student">
  <img class="img-responsive" src="">
   <div class="student-info">  
	<span class="student-name"></span>
    <h5>Ученик</h5>
</div>	 
 </div> -->
                </div>




            </div>
        </div>
        <!--/.row-->

        </div>
        <!--/.container-->
    </section>
    <!--/#feature-->


    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019 <a target="_blank" href="#" title="#">Eruditio</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->


    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>



    <script>
        //rewrite
        $('#usersholder').append('<div class="lecturer"><img class="img-responsive" src="data:image/jpeg;base64,<%=lesson.teacher.avatar%>"><div class="lecturer-info"><span class="lecturer-name"><%=lesson.teacher.firstName%> <%=lesson.teacher.lastName%></span><h5>Лектор</h5></div></div>');
    </script>


    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            var peer_id;
            var username;
            var conn;

            var peer = new Peer('' + '<%=user.lastName%>' + '<%=user.firstName%>' + 'eruditio', {
                config: {
                    'iceServers': [
                        { url: 'stun:stun1.l.google.com:19302' },
                        {
                            url: 'turn:numb.viagenie.ca',
                            credential: 'muazkh',
                            username: 'webrtc@live.com'
                        }
                    ]
                }
            });

            peer.on('open', function () {
                console.log(peer.id);
            });

            peer.on('connection', function (connection) {
                conn = connection;
                peer_id = connection.peer;

                conn.on('data', handleMessage);

                //connection.metadata.username;
            });

            peer.on('error', function (err) {
                alert("An error ocurred with peer: " + err);
                console.error(err);
            });

            peer.on('call', function (call) {
                call.answer(window.localStream);

                // Handle when the call finishes
                call.on('close', function () {
                    // alert("The videocall has finished");
                });
            });


            function requestLocalVideo(callbacks) {
                // Monkeypatch for crossbrowser geusermedia
                navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

                // Request audio an video
                navigator.getUserMedia({ audio: true, video: true }, callbacks.success, callbacks.error);
            }

            function onReceiveStream(stream, element_id) {
                var video = document.getElementById(element_id);

                video.srcObject = stream;
                video.play();
                window.peer_stream = stream;
            }

            function handleMessage(data) {
                var orientation = "text-left";

                // If the message is yours, set text to right !
                if (data.from == username) {
                    orientation = "text-right"
                }

                var messageHTML = '<a href="javascript:void(0);" class="list-group-item' + orientation + '">';
                messageHTML += '<h4 class="list-group-item-heading">' + data.from + '</h4>';
                messageHTML += '<p class="list-group-item-text">' + data.text + '</p>';
                messageHTML += '</a>';

                document.getElementById("messages").innerHTML += messageHTML;
            }

            if ('<%=user._id%>' == '<%=lesson.teacher.id%>') {
                requestLocalVideo({
                    success: function (stream) {
                        window.localStream = stream;
                        onReceiveStream(stream, 'camera');
                    },
                    error: function (err) {
                        alert("Cannot get access to your camera and video !");
                        console.error(err);
                    }
                });
            }
            else {
                requestLocalVideo({
                    success: function (stream) {
                        console.log('Calling to ' + peer_id);
                        console.log(peer);


                        var call = peer.call('DimitrovAntoaneruditio', stream);

                        call.on('stream', function (stream2) {
                            window.peer_stream = stream2;
                            onReceiveStream(stream2, 'camera');
                        });

                    },
                    error: function (err) {
                        alert("Cannot get access to your camera and video !");
                        console.error(err);
                    }
                });
            }

        }, false);
    </script>

</body>

</html>