<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eruditio</title>
	
	<!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
	
	<!-- owl carousel -->
	<link rel="stylesheet" href="/css/flickity.css" media="screen">
	<script src="/js/flickity.pkgd.min.js"></script>

	
	<!-- fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,900,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/auth/register">Регистрация</a></li>
           
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
    <section id="login" >
        <div class="container last-lessons">
           <div class="center wow fadeInDown">
                <h2>Влезте в профила си</h2>
               <div class="tx-div"></div>
			   </div>

            <div class="row">
               
				<div class = "container">
	<div class="wrapper">
		<form action="/auth/login" method="post" name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Влезте чрез вашия:</h3>	
			<div class="row row-sm-offset-3 socialButtons">
          
		        <a href="/#" class="btn btn-lg btn-google">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="button-text hidden-xs"><i class="fa fa-google-plus"></i>Google+</span>
		        </a>
	           
           
		        <a href="/#" class="btn btn-lg btn-twitter">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="button-text hidden-xs"><i class="fa fa-twitter"></i>Twitter</span>
		        </a>
	        
		        <a href="/auth/facebook" class="btn btn-lg btn-facebook">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="button-text hidden-xs">  <i class="fa fa-facebook"></i> Facebook</span>
		        </a>

            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user  fa-fw"></i></span>
                <input type="text" name="username" id="display_name" class="form-control input-signup" placeholder="Потребителско име" required="" autofocus="" >
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                <input class="form-control input-signup" name='password' type="password" placeholder="Парола" required="">
            </div>
    			  	 
    		<button class="btn btn-lg btn-primary btn-block btn-login"  name="Submit" value="Login" type="Submit">Вход</button> 
            
            <div class="forgot-password">
    			 <a href="/#">Забравена парола?</a>			
            </div>			 
		</form>			
	</div>
</div>
             

			 </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->


    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019 <a target="_blank" href="/#" title="#">Eruditio</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="/#">Линк</a></li>
                        <li><a href="/#">Линк</a></li>
                        <li><a href="/#">Линк</a></li>
                        <li><a href="/#">Линк</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
 

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/wow.min.js"></script>
</body>
</html>