<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eruditio</title>
    
    <!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <link href="/css/bootstrap-datepicker.min.css" rel="stylesheet">
    
    <!-- flickity -->
    <link rel="stylesheet" href="/css/flickity.css" media="screen">
    <script src="/js/flickity.pkgd.min.js"></script>
    
    <!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


    
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,900,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
        <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-xs-12 text-center">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-sm-10 col-xs-12 text-center">
                        <div class="social">
                            <div class="home-login">

                                <% if(typeof user != 'undefined'){ %>

                                    Здравей,
                                    <%=user.firstName %>
                                        <%=user.lastName %>
                                            <ul class="top-account">
                                                <li><a href="/auth/logout"><i class="fa fa-pencil-square-o"></i> Изход</a></li>
                                            </ul>
                            </div>
                            <% }
                                    else {%>



                        </div>
                        <ul class="top-account">
                            <li><a href="/auth/login"><i class="fa fa-user"></i> Вход</a></li>
                            <li><a href="/auth/register"><i class="fa fa-pencil-square-o"></i> Регистрация</a></li>
                        </ul>
                        <% } %>


                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
        </div>
        <!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Начало</a></li>
                        <li><a href="/teachers">Учители</a></li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle = "dropdown">Уроци<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/lessons">Търси уроци</a></li>
                                <li><a href="/lessons/post">Публикувай урок</a></li>
                                <% if( typeof user != 'undefined' && !user.isStudent) { %>
                                    <li><a href='/profile/requests'>Моите заявки</a></li>
                                <% } %>
                            </ul>
                        </li>
                        <% if(user) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle = "dropdown" >Профил<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/id/<%=user._id%>">Моят профил</a></li>
                                <li><a href="/profile/edit">Редактирай профил</a></li>
                                <li><a href="/profile/lessons">Моите уроци</a></li>
                                <li><a href="/profile/messages">Моите разговори</a></li>
                            </ul>
                        </li>
                        <% } %>

                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->

      <section id="login" >
        <div class="container last-lessons">
            <div class="center wow fadeInDown">
                <h2>Чат с @<span id="chatWith"><% if(myChatFriends[0]) {%><%=myChatFriends[0].username%> <% } else{ %><%}%></span></h2>
                <div class="tx-div">
                </div>
			</div>

            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-push-3" id="holding">	
                        <%  for(var j=0;j<myChatFriends.length;j++){ %>   
                                <div class="chat-wrap" id="<%= myChatFriends[j].senderID %>" style="display:none"> 
                                </div>
                         <% } %>

                            <div class="send-wrap ">
                                <textarea class="form-control send-message" rows="3" id="pmBody" placeholder="Отговори..."></textarea>
                                <button class="pull-right col-lg-3 btn btn-primary"  id="sendMessage">Изпрати</button>
                            </div>
                    </div>

                    <div class="col-md-3 col-md-pull-9" id="heads">
                        <h2>Съобщения</h2>
                            <div class="tx-content-div">
                            </div>

                            <%  for(var i=0;i<myChatFriends.length;i++){ %>
                            <div class="student" toHide="<%= myChatFriends[i].senderID %>" theUsername="<%= myChatFriends[i].username %>" onClick="MeinClick(this.getAttribute('toHide'), this.getAttribute('theUsername'))">
                              <img class="img-responsive" src="data:image/png;base64, <%=myChatFriends[i].senderImage %>">
                                <div class="lecturer-info">  
                                <span class="lecturer-name"><%= myChatFriends[i].sender %> <%= myChatFriends[i].lastName %></span>
                                <h5 id="<%= myChatFriends[i].sender %>" class="<%= myChatFriends[i].senderID %>">ss</h5>
                                </div>   
                             </div>
                            <% }%>
                              <% for(var i = 0; i<messages.length; i++){%>             
                        <script>
                        document.getElementById('<%=messages[i].senderID %>').innerHTML += '<div class="media msg msg-lecturer"><a class="pull-left" href="#"><img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/png;base64, <%=messages[i].realAvatar %>"></a><div class="media-body"><small class="pull-right time"><i class="fa fa-clock-o"></i><%=messages[i].date %></small><h5><%= messages[i].realName %> <%= messages[i].realLastName %></h5><small class="col-lg-10"><%=messages[i].body%></small></div></div>';
                        document.getElementById('<%=messages[i].sender %>').innerHTML = "<%= messages[i].body%>";
                        </script>
                         <% } %>
                    </div>
       
                </div>
            </div>
        </div>    
    </section><!--/#feature-->


    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019 <a target="_blank" href="#" title="#">Eruditio</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
 <script type="text/javascript" src="/js/bootstrap-clockpicker.min.js"></script>
 <script>
    var date_input=$('input[name="date"]'); //our date input has the name "date"
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
		  language: "bg",
    };
    date_input.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
    </script>
	<script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
        var socket = io.connect("http://localhost", {
            query: "foo=<%= user._id %>"
        });

        var toSend = $('#holding div:nth-of-type(1)').attr('id');

        socket.on('pm', function (data) {
            $('#'+data.sender).append('<div class="media msg msg-lecturer"><a class="pull-left" href="#"><img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/png;base64, ' + data.avatar + '"></a><div class="media-body"><small class="pull-right time"><i class="fa fa-clock-o"></i>'+ new Date().toJSON().slice(0,10) +'</small><h5>' + data.firstName + ' ' + data.lastName + '</h5><small class="col-lg-10">' + data.body + '</small></div></div>');
            $('.'+data.sender).text(data.body);
            $('#' + toSend).scrollTop($('#' + toSend).prop("scrollHeight"));
        });

        $( "#sendMessage" ).click(function() {
              socket.emit('sendingMessage', {body: $('#pmBody').val(), toWho: toSend, avatar: '<%=user.avatar%>', name: '<%=user.firstName%>', lastName : '<%=user.lastName%>'});
              $('#'+toSend).append('<div class="media msg msg-lecturer"><a class="pull-left" href="#"><img class="media-object" data-src="holder.js/64x64" alt="64x64"  src="data:image/png;base64, <%= user.avatar %>"></a><div class="media-body"><small class="pull-right time"><i class="fa fa-clock-o"></i>'+ new Date().toJSON().slice(0,10) +'</small><h5><%= user.firstName %> <%= user.lastName %></h5><small class="col-lg-10">' + $('#pmBody').val()+ '</small></div></div>');
              $('.'+toSend).text($('#pmBody').val());
              $("#pmBody").val('');
              $('#' + toSend).scrollTop($('#' + toSend).prop("scrollHeight"));
        });

        $("#pmBody").keyup(function(e) {
            if (e.keyCode == 13) {
                socket.emit('sendingMessage', {body: $('#pmBody').val(), toWho: toSend, avatar: '<%=user.avatar%>', name: '<%=user.firstName%>', lastName : '<%=user.lastName%>'});
                $('#'+toSend).append('<div class="media msg msg-lecturer"><a class="pull-left" href="#"><img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/png;base64, <%= user.avatar %>"></a><div class="media-body"><small class="pull-right time"><i class="fa fa-clock-o"></i>'+ new Date().toJSON().slice(0,10) +'</small><h5><%= user.firstName %> <%= user.lastName %></h5><small class="col-lg-10">' + $('#pmBody').val()+ '</small></div></div>');
                $('.'+toSend).text($('#pmBody').val());
                $("#pmBody").val('');
                $('#' + toSend).scrollTop($('#' + toSend).prop("scrollHeight"));
            }
        });

        function MeinClick(idToHide, theUsername)
            {
                $('#holding .chat-wrap').hide();
                $('#'+idToHide).show();
                toSend= $('#'+idToHide).attr('id');
                $('#chatWith').html(theUsername);
            }
        $(document).ready(function(){;
            $('#holding div:nth-of-type(1)').show();
        });
   </script>

</body>
</html>