<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eruditio</title>
	
	<!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
	
	<!-- owl carousel -->
	<link rel="stylesheet" href="/css/flickity.css" media="screen">
	<script src="/js/flickity.pkgd.min.js"></script>

	
	<!-- fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,900,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index.html"><img src="/images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/auth/login">Влез в профила си</a></li>
           
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
    <section id="login" >
        <div class="container last-lessons">
           <div class="center wow fadeInDown">
                <h2>Регистрация</h2>
               <div class="tx-div"></div>
			   </div>

			<div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" class="form-signup" method="post" action="/auth/register">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="input-group">
            <span class="input-group-addon"><i class="fa fa-book  fa-fw" aria-hidden="true"></i></span>
                        <input type="text" name="first_name" id="first_name" class="form-control input-signup" placeholder="Име" tabindex="1">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="input-group">
             <span class="input-group-addon"><i class="fa  fa-file-o  fa-fw"  aria-hidden="true"></i></span>
				
				<input type="text" name="last_name" id="last_name" class="form-control input-signup" placeholder="Фамилия" tabindex="2">
					</div>
				</div>
			</div>
				<div class="input-group">
             <span class="input-group-addon"><i class="fa fa-user  fa-fw"></i></span>
				<input type="text" name="display_name" id="display_name" class="form-control input-signup" placeholder="Потребителско име" tabindex="3">
			</div>
				<div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o  fa-fw" aria-hidden="true"></i></span>
				<input type="email" name="email" id="email" class="form-control input-signup" placeholder="E-mail" tabindex="4">
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form-control input-signup" type="password" placeholder="Парола" name='password'  tabindex="5">
                    </div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="input-group">
             <span class="input-group-addon"><i class="fa fa-lock  fa-fw"  aria-hidden="true"></i></span>
				
						<input type="password" name="password_confirmation" class="form-control input-signup" placeholder="Потвърдете паролата" tabindex="6">
					</div>
				</div>
			
			<div class="col-xs-12 col-sm-12 col-md-12 i-am">
              <h5>Аз съм</h5>
           <select class="form-lessons" name='profile_type' >
		    <option value='false'>Учител</option>
            <option value='true'>Ученик</option>
		   </select>
			
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="checkbox">
  <label>
    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
  </label>
</div>
<p class="agreement">
 By checking this , you agree to the <a href="/#">Terms and Conditions</a> set out by this site, including our Cookie Use.
		</p>		
				</div>
			</div>
		
			<div class="row">
				<div class="col-xs-12 col-md-6"><a href="/#" class="btn btn-custom">Назад</a></div>
				<div class="col-xs-12 col-md-6"><input type="submit" value="Регистрация" class="btn btn-register" tabindex="8"></div>
				
				</div>
			</div>
		</form>
	</div>
</div>

</div>
    </section><!--/#feature-->


    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019 <a target="_blank" href="/#" title="#">Eruditio</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="/#">Линк</a></li>
                        <li><a href="/#">Линк</a></li>
                        <li><a href="/#">Линк</a></li>
                        <li><a href="/#">Линк</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
 

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/wow.min.js"></script>
</body>
</html>