<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eruditio</title>

    <!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

    <!-- flickity -->
    <link rel="stylesheet" href="/css/flickity.css" media="screen">
    <script src="/js/flickity.pkgd.min.js"></script>

    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,900,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-xs-12 text-center">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-sm-10 col-xs-12 text-center">
                        <div class="social">
                            <div class="home-login">

                                <% if(typeof user != 'undefined'){ %>

                                    Здравей,
                                    <%=user.firstName %>
                                        <%=user.lastName %>
                                            <ul class="top-account">
                                                <li><a href="/auth/logout"><i class="fa fa-pencil-square-o"></i> Изход</a></li>
                                            </ul>
                            </div>
                            <% }
                                    else {%>



                        </div>
                        <ul class="top-account">
                            <li><a href="/auth/login"><i class="fa fa-user"></i> Вход</a></li>
                            <li><a href="/auth/register"><i class="fa fa-pencil-square-o"></i> Регистрация</a></li>
                        </ul>
                        <% } %>


                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
        </div>
        <!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Начало</a></li>
                        <li><a href="/teachers">Учители</a></li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle = "dropdown">Уроци<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/lessons">Търси уроци</a></li>
                                <li><a href="/lessons/post">Публикувай урок</a></li>
                                <% if( typeof user != 'undefined' && !user.isStudent) { %>
                                    <li><a href='/profile/requests'>Моите заявки</a></li>
                                <% } %>
                            </ul>
                        </li>
                        <% if(user) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle = "dropdown" >Профил<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/id/<%=user._id%>">Моят профил</a></li>
                                <li><a href="/profile/edit">Редактирай профил</a></li>
                                <li><a href="/profile/lessons">Моите уроци</a></li>
                                <li><a href="/profile/messages">Моите разговори</a></li>
                            </ul>
                        </li>
                        <% } %>

                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->

    <section id="login">
        <div class="container last-lessons">
            <div class="center wow fadeInDown">
                <h2>Заявки за частни уроци</h2>
                <div class="tx-div"></div>
            </div>

            <div class="container">

                <div class="row">
                    <div class="col-md-12">

                        <div class="alert alert-info msg-date">
                            <strong>&nbsp; </strong>
                        </div>
                        <% for( var i = 0; i < requests.length; i++ ) { %>
                            <div class="lectionrequests-box">
                                <div class="row">
                                    <div class="col-md-3 col-sm-5">
                                        <img src= "data:image/jpeg;base64, <%=requests[i].avatar%>" >
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <h2> <%=requests[i].firstName%> <%=requests[i].lastName%></h2>
                                        <h6>@<%=requests[i].username%></h6>
                                        <p>Желая урок на <b><%=requests[i].date.getDate()%>/<%=requests[i].date.getMonth() + 1%>/<%=requests[i].date.getFullYear()%></b> в <b><%=requests[i].date.getHours()%>:<%=requests[i].date.getMinutes()%></b>
                                            <h5>Допълнителна информация:</h5>
                                            <p>
                                                <%=requests[i].quote%>
                                            <p>
                                    </div>
    
                                    <div class="col-md-2 col-sm-12 buttons-container">
                                        <a href="/profile/requests/<%=requests[i].id%>/accept" class="btn btn-custom">
			                              Oдобри
		                              </a>
    
                                        <a href="/profile/requests/<%=requests[i].id%>/reject" class="btn btn-message">
                                            Откажи
		                              </a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>

                    <div class="alert alert-info msg-date">
                        <strong>&nbsp;</strong>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>
    <!--/#feature-->


    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019 <a target="_blank" href="#" title="#">Eruditio</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->
    <script src="/js/jquery.js"></script>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/wow.min.js"></script>
</body>

</html>