<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eruditio</title>
	
	<!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
	
	<!-- flickity -->
	<link rel="stylesheet" href="/css/flickity.css" media="screen">
	<script src="/js/flickity.pkgd.min.js"></script>

	
	<!-- fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,900,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-xs-12 text-center">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-sm-10 col-xs-12 text-center">
                        <div class="social">
                            <div class="home-login">

                                <% if(typeof user != 'undefined'){ %>

                                    Здравей,
                                    <%=user.firstName %>
                                        <%=user.lastName %>
                                            <ul class="top-account">
                                                <li><a href="/auth/logout"><i class="fa fa-pencil-square-o"></i> Изход</a></li>
                                            </ul>
                            </div>
                            <% }
                                    else {%>



                        </div>
                        <ul class="top-account">
                            <li><a href="/auth/login"><i class="fa fa-user"></i> Вход</a></li>
                            <li><a href="/auth/register"><i class="fa fa-pencil-square-o"></i> Регистрация</a></li>
                        </ul>
                        <% } %>


                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
        </div>
        <!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Начало</a></li>
                        <li><a href="/teachers">Учители</a></li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle = "dropdown">Уроци<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/lessons">Търси уроци</a></li>
                                <li><a href="/lessons/post">Публикувай урок</a></li>
                                <% if( typeof user != 'undefined' && !user.isStudent) { %>
                                    <li><a href='/profile/requests'>Моите заявки</a></li>
                                <% } %>
                            </ul>
                        </li>
                        <% if(user) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle = "dropdown" >Профил<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/id/<%=user._id%>">Моят профил</a></li>
                                <li><a href="/profile/edit">Редактирай профил</a></li>
                                <li><a href="/profile/lessons">Моите уроци</a></li>
                                <li><a href="/profile/messages">Моите разговори</a></li>
                            </ul>
                        </li>
                        <% } %>

                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->
 

    <section id="teacher_profile">
        <div class="container teacher_profile">
	        <div class="center wow fadeInDown">
                <h2>Профил на @<%=student.username%></h2>
               <div class="tx-div"></div>
			   </div>

            <div class="row">
			
              <div class="col-md-3">
			  <div class="user-pic">
			  <img class="img-responsive"  src="data:image/png;base64, <%=student.avatar%>">
			   <div class="user-details">
			  <h2><%=student.firstName%> <%=student.lastName%></h2>
			  <h3><i class="fa fa-building-o" aria-hidden="true"></i>Учи в</h3>
			  <p><%=student.location%></p>
			  <h3><i class="fa fa-map-marker" aria-hidden="true"></i>Местоположение</h3>
			  <p><%=student.school%></p>
			  
			  </div>
			 
			 </div>
			 </div>
			  <div class="col-md-6">
			  <div class="content">
			<h2>За мен</h2>
			 <div class="tx-content-div"></div>
			<div class="content-box">
			<%=student.forMe%> 
			</div>
			</div>
			 <div class="visited-lessons-container">
	         <h2>Посетени уроци</h2>
			 <div class="tx-content-div"></div>
			 <div class="col-md-6 text-center">
			 <div class="visited-lessons">
			 <img src="/images/portfolio/recent/item1.png" alt="..." class="image-responsive">
			<a href="/#">Business Skills for Developers - май 2019</a>
			</div>
			</div>
			<div class="col-md-6 text-center">
			 <div class="visited-lessons">
			 <img src="/images/portfolio/recent/item3.png" alt="..." class="image-responsive">
			<a href="/#">взема няколко печатарски букви и ги разбърква</a>
			</div>
			</div>
			<div class="col-md-6 text-center">
			 <div class="visited-lessons">
			 <img src="/images/portfolio/recent/item2.png" alt="..." class="image-responsive">
			<a href="/#">Lorem Ipsum е елементарен примерен текст</a>
			</div>
			</div>
			<div class="col-md-6 text-center">
			 <div class="visited-lessons">
			 <img src="/images/portfolio/recent/item4.png" alt="..." class="image-responsive">
			<a href="/#">Lorem Ipsum е елементарен примерен текст</a>
			</div>
			</div>
	</div>
	
			
			  </div>
			  <div class="col-md-3">

		        <% if(user._id != student.id) {%>
                <div class="message-form">          
                   <div class="form-group">
                        <label for="comment">Съобщение</label>
                        <textarea class="form-control" rows="4" id="pmBody" style="resize:none;"></textarea>
                    </div>
                    
                    <button class="btn btn-message"  id="sendMessage">Изпрати</button> 
                </div>
                <% } %>
            <div class="comments">  
             <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="/#comments" data-toggle="tab">Коментари</a></li>
        <li><a href="/#add" data-toggle="tab">Добави</a></li>
    </ul>
     <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="comments">
            <% for(var i = 0; i < student.comments.length; i++) { %>
                <div class="comments-container">
                    <div class="comments-box">
                        <%=student.comments[i].body%>
                    </div>
                    <div class="author">
                        <a href="/profile/id/<%=student.comments[i].sender.id%>"><%=student.comments[i].sender.firstName%> <%=student.comments[i].sender.firstName%></a>
                        <h3><%=student.comments[i].sender.status%></h3>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="tab-pane" id="add">
		<div class="comments-container">
            <form action="/profile/id/<%=student.id%>/addComment" method="post">
                <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea> 
		        <input type="submit" value="Добави" class="btn btn-register" tabindex="8">
            </form>
			</div>
			</div>
        </div>
     
</div>	 
   </div>
</div>
			  </div>
			  
   
  
</div>
            </div><!--/.row-->  
 
        </div><!--/.container-->
    </section><!--/#feature-->

  
  
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019 <a target="_blank" href="/#" title="#">Eruditio</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="/#">Линк</a></li>
                        <li><a href="/#">Линк</a></li>
                        <li><a href="/#">Линк</a></li>
                        <li><a href="/#">Линк</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
 

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>

        var socket = io.connect({
            query: "foo=<%= user._id %>"
        });

        $("#sendMessage").click(function() {
            socket.emit('hello', {
                body: $('#pmBody').val(),
                sender: '<%=user._id %>',
                receiver: '<%=student.id%>',
                avatar: '<%=student.avatar%>', 
                name: '<%=user.firstName%>', 
                lastName : '<%=user.lastName%>'});
            $("#pmBody").val('');
        });

        $("#pmBody").keyup(function(e) {
            if (e.keyCode == 13) {
                socket.emit('hello', {
                body: $('#pmBody').val(),
                sender: '<%=user._id %>',
                receiver: '<%=student.id%>',
                avatar: '<%=student.avatar%>', 
                name: '<%=user.firstName%>', 
                lastName : '<%=user.lastName%>'});
            $("#pmBody").val('');
            }
        });
    </script>
</body>
</html>