<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eruditio</title>
	
	<!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
	
	<!-- owl carousel -->
	<link rel="stylesheet" href="/css/flickity.css" media="screen">
	<script src="/js/flickity.pkgd.min.js"></script>

	
	<!-- fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,900,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    
</head><!--/head-->

<body>

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                  
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
                </div>
				
              
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
    <section id="login" >
        <div class="container last-lessons">
           <div class="center wow fadeInDown">
                <h2>Добавяне на информация</h2>
               <div class="tx-div"></div>
			   </div>

			<div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" class="form-info" method="post" action='/profile/edit' enctype="multipart/form-data"> 
		<h5>Профилна снимка</h5>
		  <!-- image-preview-filename input [CUT FROM HERE]-->
            <div class="input-group image-preview">
                <input type="text" class="image-form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-upload image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span> Изчисти
                    </button>
                    <!-- image-preview-input -->
                    <div class="btn-upload image-preview-input">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span class="image-preview-input-title">Търси</span>
                        <input type="file" accept="image/png, image/jpeg, image/gif" name="image"/> <!-- rename it -->
                    </div>
                </span>
            </div><!-- /input-group image-preview [TO HERE]--> 
			<label class="control-label label_date"><h5>Преподавам по</h5></label>
			<div class="row">
			<div class="col-md-11">
			<div class="input-group">
            <span class="input-group-addon"><i class="fa fa-book  fa-fw" aria-hidden="true"></i></span>
            <select class="form-lessons" name="subject">
                <option value='' hidden="true">Изберете предмет/област</option>
                <option value='История' name="subject">История</option>
                <option value='География' name="subject">География</option>
                <option value='БЕЛ' name="subject">БЕЛ</option>
                <option value='Физика' name="subject">Физика</option>
                <option value='Руски език' name="subject">Руски език</option>
                <option value='Немски език' name="subject">Немски език</option>
                <option value='Английски език' name="subject">Английски език</option>
                <option value='Химия' name="subject">Химия</option>
                <option value='Биология' name="subject">Биология</option>
                <option value='Математика' name="subject">Математика</option>
                <option value='Информатика' name="subject">Информатика</option>
                <option value='Информационни технологии' name="subject">Информационни технологии</option>
		   </select>
		   </div>
		     <div id="AddHereDD"></div>
		   </div>
		 <div class="col-md-1 text-center">
		  <input type="button" class="btn-plus" id="buttonToAddDD" value="+" />
		 </div>
     </div>
		   <h5>Живея в</h5>
			<div class="input-group">
            <span class="input-group-addon"><i class="fa fa-map-marker  fa-fw" aria-hidden="true"></i></span>
				  <input type="text" class="form-control" name='location' value='<%=user.location%>'>
		   </div>
		    <h5>Преподавам в</h5>
			<div class="input-group">
            <span class="input-group-addon"><i class="fa fa-building-o  fa-fw" aria-hidden="true"></i></span>
				<input type="text" class="form-control" name='school' value='<%=user.school%>'>
					
		   </div>
		   	<h5>За мен</h5>
		   <textarea class="form-control" name="forMe" id="addComment" rows="4"><%=user.forMe%></textarea> 
			<h5>Предишен опит</h5>
			 <textarea class="form-control" name="experience" id="addComment" rows="4"><%=user.experience%></textarea> 
		   
		   <div class="col-md-6">
 <a href="//" class="btn btn-custom">Назад</a>
 </div>
 <div class="col-md-6">
 <input type="submit" value="Продължаване" class="btn btn-register" tabindex="8">
 </div>
		</form>
		
	</div>
	 
</div>
</div>
    </section><!--/#feature-->


    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019 <a target="_blank" href="/#" title="#">Eruditio</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="/#">Линк</a></li>
                        <li><a href="/#">Линк</a></li>
                        <li><a href="/#">Линк</a></li>
                        <li><a href="/#">Линк</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
 

    <script src="/js/jquery.js"></script>
	<script>
	$(document).on('click', '#close-preview', function(){ 
    $('.image-preview').popover('hide');
    // Hover befor close the preview
    $('.image-preview').hover(
        function () {
           $('.image-preview').popover('show');
        }, 
         function () {
           $('.image-preview').popover('hide');
        }
    );    
});

$(function() {
    // Create the close button
    var closebtn = $('<button/>', {
        type:"button",
        text: 'x',
        id: 'close-preview',
        style: 'font-size: initial;',
    });
    closebtn.attr("class","close pull-right");
    // Set the popover default content
    $('.image-preview').popover({
        trigger:'manual',
        html:true,
        title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
        content: "There's no image",
        placement:'bottom'
    });
    // Clear event
    $('.image-preview-clear').click(function(){
        $('.image-preview').attr("data-content","").popover('hide');
        $('.image-preview-filename').val("");
        $('.image-preview-clear').hide();
        $('.image-preview-input input:file').val("");
        $(".image-preview-input-title").text("Browse"); 
    }); 
    // Create the preview image
    $(".image-preview-input input:file").change(function (){     
        var img = $('<img/>', {
            id: 'dynamic',
            width:250,
            height:200
        });      
        var file = this.files[0];
        var reader = new FileReader();
        // Set preview image into the popover data-content
        reader.onload = function (e) {
            $(".image-preview-input-title").text("Change");
            $(".image-preview-clear").show();
            $(".image-preview-filename").val(file.name);            
            img.attr('src', e.target.result);
            $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
        }        
        reader.readAsDataURL(file);
    });  
});


	</script>
	
<script>
  $("#buttonToAddDD").click(function () {
    var newDD = $('<select class="form-lessons margin-bottom" />');
    $(newDD).append('<option hidden="true">Изберете друг предмет/област</option>');
    $(newDD).append('<option>Втори предмет</option>');
    $("#AddHereDD").append(newDD);
});
</script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/wow.min.js"></script>
</body>
</html>