<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eruditio</title>
    
    <!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="/css/bootstrap-datepicker.min.css" rel="stylesheet">
    
    <!-- flickity -->
    <link rel="stylesheet" href="/css/flickity.css" media="screen">
    <script src="/js/flickity.pkgd.min.js"></script>
    
    <!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


    
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,900,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body class="homepage">
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-xs-12 text-center">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-sm-10 col-xs-12 text-center">
                        <div class="social">
                            <div class="home-login">

                                <% if(typeof user != 'undefined'){ %>

                                    Здравей,
                                    <%=user.firstName %>
                                        <%=user.lastName %>
                                            <ul class="top-account">
                                                <li><a href="/auth/logout"><i class="fa fa-pencil-square-o"></i> Изход</a></li>
                                            </ul>
                            </div>
                            <% }
                                    else {%>



                        </div>
                        <ul class="top-account">
                            <li><a href="/auth/login"><i class="fa fa-user"></i> Вход</a></li>
                            <li><a href="/auth/register"><i class="fa fa-pencil-square-o"></i> Регистрация</a></li>
                        </ul>
                        <% } %>


                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
        </div>
        <!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Начало</a></li>
                        <li><a href="/teachers">Учители</a></li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle = "dropdown">Уроци<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/lessons">Търси уроци</a></li>
                                <li><a href="/lessons/post">Публикувай урок</a></li>
                                <% if( typeof user != 'undefined' && !user.isStudent) { %>
                                    <li><a href='/profile/requests'>Моите заявки</a></li>
                                <% } %>
                            </ul>
                        </li>
                        <% if(user) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle = "dropdown" >Профил<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/id/<%=user._id%>">Моят профил</a></li>
                                <li><a href="/profile/edit">Редактирай профил</a></li>
                                <li><a href="/profile/lessons">Моите уроци</a></li>
                                <li><a href="/profile/messages">Моите разговори</a></li>
                            </ul>
                        </li>
                        <% } %>

                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->

 
    <div id="teachers_header">
         <div class="page">
           
            <div class="page-caption">
             <h3>Учители</h3>
                <div class="tx-div-white"></div>
             <p>Начало > Учители </p>
                

             </div>
</div>           <!-- End Carousel Inner -->

            <!-- Controls -->
            
        </div>
  
    <section id="list-teachers" >
        <div class="container list-teachers">
        <div class="row">
     <div class="col-md-3 col-md-push-9">
    <div class="teachers-box">
        <div class="row">
         <div class="col-xs-12 col-md-12">
            <h5>Предмет</h5>
           <select class="form-lessons">
            <option>История</option>
  <option>География</option>
  <option>БЕЛ</option>
  <option>Физика</option>
           
           </select>
        </div>
         <div class="col-xs-12 col-md-12">
            <h5>Вид на урока</h5>
           <select class="form-lessons">
            <option>Платен</option>
  <option>Безплатен</option>
 
           
           </select>
        </div>
         <div class="col-xs-12 col-md-12">
    <h5>Ден на урок</h5>
   <!-- Form code begins -->
    <form method="post">
      <div class="input-group">
  <input type="text" class="form-control" id="date" name="date" placeholder="MM/DD/YYY" ><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div>
     </form>
     <!-- Form code ends --> 
     </div>
         <div class="col-xs-12 col-md-12">
         <input type="submit" value="Търсене" class="btn btn-searchlesson">
        </div>
        </div>
        </div>
          
  </div>
    <div class="col-md-9 col-md-pull-3">
     <div class="center wow fadeInDown">
                <h2>Всички учители</h2>
               <div class="tx-div"></div>
               </div>

            <div class="row">
              
<% for(var i=0; i<teachers.length; i++){ %>
  <div class="col-md-4 text-center">

     <div class="item text-center">
                    <div class="single-teacher">
                        <div class="teacher-overlay-hover">
                            <img src="data:image/jpeg;base64,<%=teachers[i].avatar%> " alt="" class="img-responsive">
                            <div class="teacher-overlay-effect">
                               <a href="/profile/id/<%=teachers[i].id%>">Виж профил</a>
                               </div>
                        </div>
                          <h3><%=teachers[i].firstName%> <%=teachers[i].lastName%>  </h3>
                        <div class="tx-div-teacher"></div>
                        <h5>Учител по Изобразително изкуство</h5>
                         <ul class="teacher-links">
                                     <li><a href="/profile/id/<%=teachers[i].id%>" title="Виж профил"><i class="fa fa-user"></i></a></li>
                                    <li><a href="/profile/id/<%=teachers[i].id%>/request" title="Насрочи урок"><i class="fa fa-calendar"></i></a></li>
                                    <li><a href="" title="Изпрати съобщение"><i class="fa fa-envelope-o"></i></a></li>
                                 
                                </ul>
                    </div>
                </div>  <!-- item wrapper end -->
</div>

 <% } %>

 
  </div>
    <div class="pagination-container text-center">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                                </a>
                            </li>
                            <li  class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>          
  
   </div>
 
  
  </div>
</div>
            </div><!--/.row-->  
      </div><!--/.container-->
    </section><!--/#feature-->

  
  
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019 <a target="_blank" href="#" title="#">Eruditio</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                        <li><a href="#">Линк</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
 
<script>
      var date_input=$('input[name="date"]'); //our date input has the name "date"
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
          language: "bg",
    };
    date_input.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
</script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
</body>
</html>