@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
}

h1{
  font-size: 36px;
  color:#fff;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  color: #c52d2f;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}


.btn-primary {
  padding: 8px 20px;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

body > section {
  padding: 70px 0;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Header******
**************************/

#header .home-login{
  display: inline-block;
}

.navbar>.container .navbar-brand{
  margin-left: 0;
}

.top-bar {
  padding: 10px 0;
  background: #f4f4f4;
  border-bottom: 1px solid #e3e3e3;
  line-height: 28px;
}

.top-account {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: #a2a2a2;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.top-account li {
    display: inline-block;
    margin-right: 10px;
}

.top-account a {
  color: #a2a2a2;
padding: 0px 8px;
}

.top-account a:hover {
  color: #b53c26;
}

.top-account p{
  margin: 0
}

.social{
  text-align: right;
}

.social-share{
 display: inline-block;
 list-style: none;
 padding: 0;
 margin: 0;
}

ul.social-share li {
  display: inline-block;
}

ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #523336;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
}

ul.social-share li a:hover {
  background: #b53c26;
  color: #fff;
}

.search i {
  color: #fff;
}

input.home-login{
  background: #e8e8e8;
  border: 0 none;
  width: 150px;
  padding: 0 12px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #523336;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}


@media only screen and (max-device-width: 480px) { 

input.home-login{
width:70px;
}

}

input.home-login::-webkit-input-placeholder{
   color: #fff;
}

input.home-login:hover::-webkit-input-placeholder {
  color: #fff;
}


.home-login-btn {
padding: 0px 8px;
    background: #523336;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 500;
    display: inline-block;
border: none;
}


.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #fff;
  padding: 15px 0;
  padding-bottom: 0;
}

 .navbar-nav{
  margin-top: 12px;
 }

.navbar-nav>li{
  margin-left: 35px;
  padding-bottom: 28px;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  color: #523336;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
  color: #b53c26;
  
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
margin-bottom: 5px;
}

.navbar-toggle {
background: #523336;
margin-top: 13px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background: transparent;
  color: #b53c26;
  font-weight: 500;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(255,255,255,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #523336;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}


/*************************
*******Home Page******
**************************/

#slider_part {
    max-height: 600px;
    width: 100%;
    overflow: hidden;
}

.carousel {
max-height: 600px;
}
.carousel-caption {
    top: 20%;
    text-shadow: none!important;
    left: 9%;
    right: 10%;
    -webkit-transition: all.3s ease 0s;
    -o-transition: all.3s ease 0s;
    transition: all.3s ease 0s;
    text-align: center;
}

.carousel-caption h3 {
    text-shadow: none;
    font-size: 5vw;
font-family: 'Roboto';
    font-weight: 300;
    transition-delay: .3s;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    text-transform: capitalize!important;
}

.carousel-caption p {
font-family: 'Roboto';
    font-size: 2.5vw;
    font-weight: 500;
    margin-top: 20px;
    color: #fff;
    transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    text-transform: uppercase;
}

.carousel-caption img {
    border: 2px solid#fff;
    padding: 10px 10px 10px 20px;
}

.line {
    width: 100px;
    height: 5px;
    color: #222;
    margin: 3% auto;
}

.carousel-caption p i {
    font-size: 7px;
    margin: 0px 3px;
    position: relative;
    top: -3px;
}

.carousel .item {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}


.btn-featured {
    text-decoration: none;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent;
    border-radius: 2px;
    z-index: 1;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 40px !important;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: 10px;
}

.carousel-control.left,.carousel-control.right {
    background-image: none !important;
    background-repeat: no-repeat !important;
}

.carousel-control {
    width: 4% !important;
}

.carousel-caption img {
    height: auto;
}

.carousel-indicators {
    width: 30%;
    left: 35%;
    margin: 0 auto;
    bottom: 10%;
}

.carousel-indicators li {
    width: 13px !important;
    height: 13px !important;
    border: 2px solid #FFF !important;
    margin: 0px !important;
    border-radius: 50%;
}

.carousel-control.left span {
    padding: 15px;
}

.slides-control .carousel-control i {
    line-height: 36px;
    font-size: 32px;
    padding-top: 6px;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.slides-control .carousel-control {
    position: absolute;
    width: 240px;
    top: 45%;
    z-index: 10;
}

.carousel-control.left {
    left: -15px;
}

.carousel-control.right {
    right: 0px;
}

.carousel-control.left {
    width: 120px;
    height: 40px;
}

.carousel-control.right {
    width: 120px;
    height: 40px;
}

.overlay-slide {
    background: #000;
    height: 100%;
    width: 100%;
}

.overlay-slide img {
    opacity: .6;
    width: 100%;
    height: auto;
}

/*-- Animation --*/

.carousel .item.active .animated2 {
    -webkit-animation: lightSpeedIn 1s ease-in 200ms both;
    animation: lightSpeedIn 1s ease-in 200ms both;
}

.carousel .item.active .animated3 {
    -webkit-animation: bounceInLeft 1s ease-in-out 500ms both;
    animation: bounceInLeft 1s ease-in-out 500ms both;
}


#last-lessons {
  background: #f2f2f2;
}

.features{
  padding: 0;
}

.tx-div {
    width: 50px;
    left: 50%;
    margin-left: -25px;
    display: block;
    height: 3px;
    background-color: #523336;
    position: absolute;
}

.last-video {
    margin: 0px 5px;
}

.lastvid_img img {
object-fit: cover;
    float: left;
    width: 100%;
    height: 200px;
}


.lastvid_img {
object-fit: cover;
    position: relative;
}


.last-video ul li {
 
    color: #8b8b8b;
    font-size: 12px;
}

.last-video ul li i {
}

.last-video h4 {
    font-family: 'Roboto';
    color: #523336;
    padding-top: 10px;
    clear: both;
}
.last-video h4:hover {
    color: #b53c26;
   
}

.last-video p {
    margin: 5px 0px;
    font-size: 13px;
    text-align: justify;
}


 


@media only screen and (max-device-width: 480px) { 

.carousel-cell { width: 100%; }

}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 

.carousel-cell { width: 50%; }

}


.last-lessons h2 {
font-family: 'Roboto';
font-weight: 300;
}


.tx-div-light {
    width: 50px;
    left: 50%;
    margin-left: -25px;
    display: block;
    height: 3px;
    background-color: #b53c26;
    position: absolute;
}

.popular-lessons h2 {
font-family: 'Roboto';
font-weight: 300;
}

.polular-video {
    margin: 0px 15px;
}

.popularvid_img img {
object-fit: cover;
    float: left;
    width: 100%;
    height: 200px;
}


.popularvid_img {
object-fit: cover;
    position: relative;
}


.popular-video ul li {
 
    color: #8b8b8b;
    font-size: 12px;
}

.popular-video ul li i {
}

.popular-video h4 {
    font-family: 'Roboto';
    color: #b53c26;
    padding-top: 10px;
    clear: both;
}
.popular-video h4:hover {
    color: #523336;
   
}

.popular-video p {
    margin: 5px 0px;
    font-size: 13px;
    text-align: justify;
}



#popular-video{
    padding-bottom: 100px;
}

#popular-teachers {
  background: #f2f2f2;
}

.popular-teachers h2 {
font-family: 'Roboto';
font-weight: 300;
}

.single-member {
object-fit: cover;

    font-weight: 700;
    border-radius: 7px;
    padding-bottom: 25px;
    margin: 0px 5px;
}

.single-member img {
height: 400px;
}

.tx-div-teacher {
    width: 50px;
    left: 50%;
    margin-left: -25px;
    display: block;
    height: 3px;
    background-color: #000000;
    opacity: .1;
    position: absolute;
}

.item .single-member h3 {
    text-align: center;
    color: #523336;
    font-size: 22px;
    line-height: 24px;
    font-family: 'Roboto';
    font-weight: 300;
}

.single-member h5 {
    padding-top: 10px;
    color: #a4a4a4;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}

.line2 {
    width: 40px;
    height: 3px;
    color: #222;
    margin: 0px auto;
}

.overlay-hover:hover .overlay-effect {
    opacity: 1;
    -webkit-transition: top 0.35s ease 0s;
    -o-transition: top 0.35s ease 0s;
    transition: top 0.35s ease 0s;
    top: 0px;
}

.overlay-hover {
    position: relative;
    overflow: hidden;
}

.overlay-effect {
    background: rgba(82,51,54,0.9);
    position: absolute;
    height: 350px;
object-fit: cover;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    top: -207px;
    -webkit-transition: top 0.35s ease 0s;
    -o-transition: top 0.35s ease 0s;
    transition: top 0.35s ease 0s;
    z-index: 10;
}

.overlay-hover img {
object-fit: cover;
    width: 100%!important;
    height: 350px!important;
}

.overlay-effect ul.social {
    bottom: 5%;
    position: absolute;
    width: 100%;
}

.overlay-effect a {
position: absolute;
 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
color: #fff;
padding: 8px;
border: 3px solid #fff;
}

.overlay-effect p {
    color: #fff;
    padding: 20px;
}

.overlay-effect ul.social li {
    padding: 10px 0px;
}

.overlay-effect ul.social i {
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

.overlay-effect ul li a {
    text-decoration: none;
    color: #4E4E4E;
}

.teacher-social {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.teacher-social li {
    display: inline-block;
}

ul.teacher-social li a {
    display: inline-block;
    color: #fff;
    background: #523336;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
}
ul.teacher-social li a:hover {
    color: #fff;
    background: #b53c26;

}

#search {
  background: #000 url(../images/search.jpg);
  background-size: cover;
}

#search h2 {
font-family: 'Roboto';
font-weight: 300;
color: #fff;
}
.search-center {
    text-align: center;
    padding-bottom: 25px;
}
.lead {
    padding-top: 10px;
    font-family: 'Roboto';
    color: #fff;
    margin: 0px auto;
}

.tx-div-white {
    width: 50px;
    left: 50%;
    margin-left: -25px;
    display: block;
    height: 3px;
    background-color: #fff;
    opacity: 1;
    position: absolute;
}

.field {
  display:flex;
  position:realtive;
margin-top: 0.6em;
margin-bottom: 0.6em;
margin-right: 15px;
  width:100%;
  flex-direction:row;

}

.field>input[type=text],
.field>button {
  border-radius: 5px 0px 0 5px;
border: 0px;
  display:block;
  font:1.2em 'Roboto';
}

.field>input[type=text] {
  flex:1;
  padding:0.8em;
}

.field>button {
  padding:0.8em 0.8em;
 border-radius: 0px 5px 5px 0px;
  background:#1c1c1c;
  color:white;
  border:none;
}





.footer {
  background: none repeat scroll 0 0 #2E2E2E;
  border-top: 5px solid #C52D2F;
  height: 84px;
  margin-top: 110px;
}

.footer_left {
  padding: 10px;
}

.text-left {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 15px;
}




#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #c52d2f;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}


/*************************
*******Login page******
**************************/


#login {
  background: #f2f2f2;
}

.wrapper {    
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 1px solid rgba(0,0,0,0.1);  
  }

.form-signup {
  max-width: 100%;
  padding: 66px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 1px solid rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 10px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.divider {
padding: 5px;
}
.row-sm-offset-3 {
text-align: center;
       display: block;
  margin-left: auto;
  margin-right: auto;
margin-bottom: 20px;
    }

.button-text {
font-size: 14px;
}	
.socialButtons a {
	color: white;
	font-weight: 500;
        font-family: 'Roboto';
}
.socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.socialButtons .btn-facebook {background: #3b5998;}
.socialButtons .btn-facebook:hover {background: #4968a7;}
.socialButtons .btn-twitter {background: #55acee;}
.socialButtons .btn-twitter:hover {background: #80c0f1;}
.socialButtons .btn-google {background: #c32f10;}
.socialButtons .btn-google:hover {background: #da4d30;}

.btn-login {
background: #523336;
font-family: 'Roboto';
}
.btn-login:hover {
background: #b53c26;

}
.forgot-password {
margin-top: 15px;
text-align: center;
}
.forgot-password a {
color: #b53c26;
}
.checkbox {
display: inline-block;
}

.agreement {
font-size: 14px;
font-family: 'Roboto';
color: #929292;
line-height: 18px;
display: inline;
}

.input-signup {
font-size: 14px;
 }
.input-signup {
font-size: 14px;
 }
.input-group {
border: 1px solid #ccc;
border-radius: 4px;
margin-bottom: 15px;
}

.input-group {
border: 1px solid #ccc;
border-radius: 4px;
margin-bottom: 15px;
}
.input-group-addon {
border:none;
}
.i-am {
margin-bottom: 10px;
}
.i-am h5 {
margin-top: 0px;
}
.btn-custom {
background: #b53c26;
font-family: 'Roboto';
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
width: 100%;
color: #fff;
font-size: 15px;
}
.btn-custom:hover {
background: #cb5b47;
color: #fff;
}
.btn-register {
background: #523336;
font-family: 'Roboto';
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
width: 100%;
color: #fff;
font-size: 15px;
}
.btn-register:hover {
background: #6f4c4f;
color: #fff;
}

#page_part {
    height: 300px;
    width: 100%;
    overflow: hidden;
    background: url('/images/splash2.jpg') no-repeat;
background-attachment: fixed;
background-size:cover;
}

.page {
max-height: 300px;
}
.page-caption {
    margin-top: 120px;
    text-shadow: none!important;
    left: 9%;
    right: 10%;
    text-align: center;
}

.page-caption h3 {
    text-shadow: none;
    font-size: 54px;
font-family: 'Roboto';
margin-bottom: 30px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize!important;
}

.page-caption p {
font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
    color: #fff;
    transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    text-transform: uppercase;
}



.line {
    width: 100px;
    height: 5px;
    color: #222;
    margin: 3% auto;
}

.page-caption p i {
    font-size: 7px;
    margin: 0px 3px;
    position: relative;
    top: -3px;
}

.page .item {
}


.btn-featured {
    text-decoration: none;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent;
    border-radius: 2px;
    z-index: 1;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 40px !important;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: 10px;
}



.page-caption img {
    height: auto;
}


.page-overlay-slide {
    background: #000;
    height: 100%;
    width: 100%;
}

.page-overlay-slide img {
    opacity: .6;
    width: 100%;
    height: auto;
    position: center;
}

#lessons {
    background: #f2f2f2;
}

.lessons-box {
width: 100%;
padding: 30px;
background: #eeeeee;
border: 1px solid #d7d7d7;
}
.form-lessons {
display: block;
    width: 100%;
   padding: 8px 20px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.lessons h2 {
margin-top: 40px;
font-family: 'Roboto';
font-weight: 300;
}
 .btn-delete {
    background: #b53c26;
    font-family: 'Roboto';
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 15px;
    margin-top: 35px;
}

.btn-searchlesson {
    background: #523336;
    font-family: 'Roboto';
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    margin-top: 35px;
    width: 100%;
    color: #fff;
    font-size: 15px;
}

.single-lesson {
object-fit: cover;
width: 100%;
    margin-bottom: 30px;
    border-radius: 7px;
    padding-bottom: 25px;
    margin: 0;
}

.single-lesson img {
height: 250px;
}



.item .single-lesson h3 a {
   margin-top: 10px;
   color: #aaaaaa;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Roboto';
    font-weight: 500;
}

.item .single-lesson h3 a:hover {
   color: #523336;
 
}


.single-lesson h5 {
    padding-top: 10px;
    color: #a4a4a4;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}



.lesson-overlay-hover:hover .lesson-overlay-effect {
    opacity: 1;
    -webkit-transition: top 0.35s ease 0s;
    -o-transition: top 0.35s ease 0s;
    transition: top 0.35s ease 0s;
    top: 0px;
}

.lesson-overlay-hover {
    position: relative;
    overflow: hidden;
}

.lesson-overlay-effect {
    background: rgba(82,51,54,0.9);
    position: absolute;
    height: 250px;
object-fit: cover;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    top: -207px;
    -webkit-transition: top 0.35s ease 0s;
    -o-transition: top 0.35s ease 0s;
    transition: top 0.35s ease 0s;
    z-index: 10;
}

.lesson-overlay-hover img {
object-fit: cover;
    width: 100%!important;
    height: 200px!important;
}

.lesson-overlay-effect ul.social {
    bottom: 5%;
    position: absolute;
    width: 100%;
}

.lesson-overlay-effect a {
position: absolute;
 top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
color: #fff;
font-size: 20px;
}

.tx-div-video {
    width: 50px;
    display: block;
    height: 3px;
    background-color: #523336;
    opacity: 1;
    position: absolute;
}


.pagination-container {
    padding-top: 30px;
}

.pagination {
    margin: 0;
    border-radius: 0;
}
.pagination > li > a, .pagination > li > span {
    padding: 6px 11px;
    color: #777;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    margin-left: 4px;
    border-radius: 0;
    transition: all 0.45s ease;
    -webkit-transition: all 0.45s ease;
    min-width: 34px;
    text-align: center;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #523336;
    border-color: #523336;
}

.pagination> li >a:hover, .pagination>.active>a:hover, .pagination>.active>span:hover {
    color: #fff;
    cursor: default;
    background-color: #b33924;
    border-color: #b33924;

}

#list-teachers {
  background: #f2f2f2;
}

.list-teachers h2 {
font-family: 'Roboto';
font-weight: 300;
}

.single-teacher {
object-fit: cover;
width: 100%;
    font-weight: 700;
    border-radius: 7px;
    padding-bottom: 40px;
   margin-bottom:30px;
}

.single-teacher img {
height: 400px;
}

.tx-div-teacher {
    width: 50px;
    left: 50%;
    margin-left: -25px;
    display: block;
    height: 3px;
    background-color: #000000;
    opacity: .1;
    position: absolute;
}

.item .single-teacher h3 {
    text-align: center;
    color: #523336;
    font-size: 22px;
    line-height: 24px;
    font-family: 'Roboto';
    font-weight: 300;
}

.single-teacher h5 {
    padding-top: 10px;
    color: #a4a4a4;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}

.line2 {
    width: 40px;
    height: 3px;
    color: #222;
    margin: 0px auto;
}

.teacher-overlay-hover:hover .teacher-overlay-effect {
    opacity: 1;
    -webkit-transition: top 0.35s ease 0s;
    -o-transition: top 0.35s ease 0s;
    transition: top 0.35s ease 0s;
    top: 0px;
}

.teacher-overlay-hover {
    position: relative;
    overflow: hidden;
}

.teacher-overlay-effect {
    background: rgba(82,51,54,0.9);
    position: absolute;
    height: 300px;
object-fit: cover;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    top: -207px;
    -webkit-transition: top 0.35s ease 0s;
    -o-transition: top 0.35s ease 0s;
    transition: top 0.35s ease 0s;
    z-index: 10;
}

.teacher-overlay-hover img {
object-fit: cover;
    width: 100%!important;
    height: 300px!important;
}

.teacher-overlay-effect ul.social {
    bottom: 5%;
    position: absolute;
    width: 100%;
}

.teacher-overlay-effect a {
position: absolute;
 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
color: #fff;
padding: 10px;
border: 3px solid #fff;
}

.teacher-overlay-effect p {
    color: #fff;
    padding: 20px;
}

.teacher-overlay-effect ul.social li {
    padding: 10px 0px;
}

.teacher-overlay-effect ul.social i {
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

.teacher-overlay-effect ul li a {
    text-decoration: none;
    color: #4E4E4E;
}

.teacher-links {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.teacher-links li {
    display: inline-block;
}

ul.teacher-links li a {
    display: inline-block;
    color: #fff;
    background: #523336;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
}
ul.teacher-links li a:hover {
    color: #fff;
    background: #b53c26;

}

.teachers-box h5 {
margin-top: 14px;
}

.teachers-box {
    width: 100%;
    padding: 30px;
    background: #eeeeee;
    border: 1px solid #d7d7d7;
margin-bottom: 20px;
}
#teachers_header {
    height: 300px;
    width: 100%;
    overflow: hidden;
    background: url('/images/splash.jpg') no-repeat;
background-attachment: fixed;
background-size:cover;
}



/*************************
*******Teacher profile******
**************************/

#teacher_profile {
    background: #f2f2f2;
}

.teacher_profile h2 {
font-family: 'Roboto';
    font-weight: 300;
}

.user-pic img {
    object-fit: cover;
    width: 100%!important;
    height: 250px!important;
border: 8px solid #fff;
}

.user-details h2 {
font-family: 'Roboto';
font-weight: 300;
font-size: 28px;
text-align: center;
}

.user-details h3 {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
color: #523336;
}

.user-details i {
padding: 5px;
}
.content {
margin-bottom: 60px;
}
.content h2 {
font-family: 'Roboto';
font-weight: 300;
font-size: 24px;
}
.content-box {
width:100%;
background-color: #fff;
padding: 20px 25px;
font-size: 14px;
line-height: 18px;
}

.tx-content-div {
    width: 50px;
    display: block;
    height: 3px;
    background-color: #523336;
    margin-bottom: 15px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    font-family: 'Roboto'; 
    font-weight: 700;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
font-family: 'Roboto'; 
    font-weight: 700;
    color: #b53c26;
    border-radius: 4px 4px 0 0;
}

.comments-container {
width: 100%;
margin-top: 10px;
}
.author {
margin-top: 5px;
margin-left: 10px;
}
.author a {
font-family: 'Roboto';
color: #b53c26;
}
.author a:hover {
color: #523336;
}
.author h3 {
margin: 0px;
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
color: #523336;
}

.comments {
margin-top: 40px;
}
.comments-box {
width: 100%;
font-style: italic;
font-size: 14px;
line-height: 18px;
padding: 10px 15px;
    background-color: #eee;
    border: 1px solid rgba(0,0,0,0.1);
}

.btn-message {
    background: #523336;
    font-family: 'Roboto';
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
    width: 100%;
    color: #fff;
    font-size: 15px;
}

.related-lessons {
margin-top: 40px;
}
.related-lessons h2 {
font-family: 'Roboto';
font-weight: 300;
font-size: 24px;
}
.related-lessons img {
width: 85px;
height: 65px;
margin-right: 5px;
object-fit: cover;
border: 5px solid #fff;
}

.related-lessons a {
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #b53c26;
}

.related-lessons a:hover {
color: #523336;
}

.single-lesson {
margin-bottom: 5px;
}

/*************************
*******Teacher Information******
**************************/
.image-preview {
padding: 0px;
border: 1px solid #ccc;
border-radius: 4px;
margin-bottom: 15px;
    position: relative;
    display: table;
    border-collapse: separate;
}

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.nopadding {
padding: 0px;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
.popover {
max-width: 633px;
}

.popover-content img {
object-fit: cover;
}

.form-info {
    max-width: 100%;
    padding: 66px 38px 66px;
    background-color: #eee;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.form-info h2 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    margin-top: 0px;
}
.image-form-control {
display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #f7f7f7;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-upload {
display: inline-block;
padding: 6px 12px;
    margin-bottom: 0;
margin-right: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-left: 1px solid #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.form-info h5 {
margin-top: 15px;
}
.btn-plus {
padding-top: 6px;
margin-left: -15px;
border: none;
background: transparent;
font-size: 26px;
font-family: 'Roboto';
font-weight: 700;
}
.margin-bottom {
margin-bottom: 10px;
}

/*************************
*******Student Profile******
**************************/

.visited-lessons-container {
margin-bottom: 40px;
}

.visited-lessons-container h2 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
}

.visited-lessons {
margin-bottom: 15px;
}
.visited-lessons img {
width: 100%;
height:150px;
object-fit: cover;
}

.visited-lessons a {
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
color: #b53c26;
margin-top: 5px;
}

.margin {
margin-top: 15px;
}

/*************************
*******My Lessons******
**************************/

.past-lesson {
object-fit: cover;
width: 100%;
    margin-bottom: 30px;
    border-radius: 7px;
    padding-bottom: 25px;
    margin: 0;
}

.past-lesson img {
height: 250px;
}
.past-lesson-title {
width: 80%; 
background: #fff;
height: 75px;
padding: 10px;
float: right;

}
.past-lesson-title a {
font-family: 'Roboto';
letter-spacing: -0.5px;
font-size: 16px;
font-weight: 700;
}

@media (min-width: 992px) {
.past-lesson-title a {
font-size: 14px;
}
}
.date-list-inline>li {
    display: inline-block;
}
.date-list-inline {
    padding-left: 0;
    list-style: none;
}
.past-lesson-date {
width:20%;
background: #523336;
height: 75px;
float: left;
padding-left: 0px;
}
.past-lesson-date h5 {
font-size: 20px;
font-family: 'Roboto';
font-weight: 700;
text-align: center;
color: #fff;
margin-top: -15px;
}

.past-lesson-date h3 {
font-size: 17px;
font-family: 'Roboto';
font-weight: 700;
text-align: center;
color: #f3f3f3;
margin-top: 15px;
}

.past-lesson-subject {
padding: 5px 15px;
background: #b53c26;
float: right;
font-weight: 700;
color: #fff;
}

.my-lessons h2 {

    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;

}

.single-past-lesson {
margin-bottom: 105px;
}

.future-lesson-image {
width: 40%;
float:left;
}

.future-lesson-image img {
height: 200px;
object-fit: cover;
}

.future-lesson-content {
float: left;
width: 80%;
background: #fff;
height: 100px;
padding: 23px 18px;
}

.future-lesson-content a {
font-family: 'Roboto';
font-size: 20px;
font-weight: 300;
}

.lesson-date {
padding: 8px 12px;
background: #503135;
color: #fff;
}
.date-category {
margin-top: 20px;
font-weight: 700;
}

.future-date-category {
margin-top: 5px;
font-weight: 700;
position: absolute;
margin-left: 70%;
}

.future-lesson-overlay-hover img {
    object-fit: cover;
    width: 100%!important;
    height: 250px!important;
}
.future-lesson-overlay-hover {
    position: relative;
    overflow: hidden;
}
.future-date {
float: right;
text-align: center;
padding-top: 15px;
font-weight: 700;
font-size: 16px;
width: 20%;
height: 50px;
background: #503135;
color: #fff;
}

.future-category {
float: right;
text-align: center;
padding-top: 15px;
font-weight: 700;
font-size: 16px;
width: 20%;
height: 50px;
background: #b53c26;
color: #fff;
}

.single-future-lesson {
margin-bottom: 100px;
}

#my_lessons {
    height: 300px;
    width: 100%;
    overflow: hidden;
    background: url('/images/splash3.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*************************
*******Request a Lesson Page******
**************************/

.teacher-info-short img {
width: 100%;
height: 200px;
object-fit: cover;
border: 8px solid #fff;
}

.teacher-info-short h2 {
font-family: 'Roboto';
    font-weight: 300;
    font-size: 28px;
    text-align: center;
}
.teacher-info-short p {
text-align: justify;
}

.buttons {
margin-top: 25px;
}

/*************************
*******Lesson page******
**************************/

#lesson_page {
    height: auto;
    width: 100%;
    overflow: hidden;
    background: url('../images/lesson-page.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.title {
padding: 50px 0 50px;
}
.lesson-title {
    text-shadow: none!important;
    left: 9%;
    right: 10%;
    text-align: justify;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    line-height: 36px;
}

.about-teacher {
margin-top: 10px;
}

.about-teacher img {
width: 100%;
height: 250px;
object-fit: cover;
border: 8px solid #fff;
}

.btn-white {
    background: #fff;
    font-family: 'Roboto';
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    width: 100%;
    margin-top: 10px;
    color: #b53c26;
    font-size: 14px;
    font-weight: 700;
}

.about-teacher p {
width: 100%;
    padding: 30px 15px 30px;
    margin: 0 auto;
    font-style: italic;
    text-align: justify;
    background-color: #eee;
    border: 1px solid rgba(0,0,0,0.1);
}

.lessoninfo-date {
font-family: 'Roboto';
font-size: 18px;
font-weight: 700;
color: #523336;
margin-right: 5px;
}

/*************************
*******Live Lesson page******
**************************/
  .message-wrap
    {
        box-shadow: 0 0 3px #ddd;
        padding:0;

    }
    .msg
    {
        padding:5px;
        margin-bottom:10px;
    }
    .msg-wrap
    {
        padding:10px;
        max-height: 300px;
        overflow: auto;
        margin-top: 40px;

    }

    .time
    {
        color:#bfbfbf;
    }

    .send-wrap
    {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding:10px;
        /*background: #f8f8f8;*/
    }

    .send-message
    {
        resize: none;
    }

    .highlight
    {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }


    .msg-wrap .media-heading
    {
        color:#381a2c;
        font-weight: 700;
    }

.msg img {
width: 64px;
height: 64px;
object-fit: cover;
}

    .msg-date
    {
        background: none;
        text-align: center;
        color:#aaa;
        border:none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
        padding: 7px 0px 0px 0px;
    }


    body::-webkit-scrollbar {
        width: 12px;
    }
 
    
    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background:#ddd; 
 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd; 
    }

.lecturer {
width: 100%;
padding: 15px 10px 25px 10px;
    background-color: #eee;
    border: 1px solid rgba(0,0,0,0.1);
margin-bottom: 10px;
}

.lecturer img {
width: 50px;
height: 50px;
float: left;
margin-right: 5px;
object-fit: cover;
border-radius: 50%;
}

.lecturer-info {

}

.lecturer-info h5 {
margin: 0;
color: #a81b03;
}

.lecturer-name {
font-size: 14px;
font-style: italic;
}

.student {
width: 100%;
padding: 15px 10px 25px 10px;
background: #fff;
margin-bottom: 10px;
}

.student img {
width: 50px;
height: 50px;
float: left;
margin-right: 5px;
object-fit: cover;
border-radius: 50%;
}

.student-info h5 {
margin: 0;
color: #523336;
}

.student-name {
font-size: 14px;
font-style: italic;
}

/*************************
*******Request a lesson chat page******
**************************/

.chat-wrap {
    padding: 10px;
    max-height: 450px;
    overflow: auto;
    margin-top: 0px;
}

.msg-lecturer {
    background-color: #eee;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 20px 10px 20px 10px;
}

.msg-lecturer img {
border-radius: 50%;
}

.msg-lecturer h5 {
    margin-top: 0px;
    color: #b53c26;
    font-weight: 700;
}

.msg-student {
   padding: 20px 10px 20px 10px;
}

.msg-student img {
border-radius: 50%;
}
.msg-student h5 {
    margin-top: 0px;
    color: #381a2c;
    font-weight: 700;
}

/*************************
*******Zaqvki :D ******
**************************/

.lectionrequests-box {
    background-color: #eee;
    border: 1px solid rgba(0,0,0,0.1);
padding: 15px 20px;
margin-bottom: 20px;
}
.lectionrequests-box img {
width: 100%;
height:200px;
object-fit: cover;
border: 8px solid #fff;
}

.lectionrequests-box h2 {
margin-top: 10px;
}

.buttons-container {
margin-top:30px;
}

.bg {
background: url('../images/bg.png')  no-repeat scroll center center / cover     rgba(0, 0, 0, 0);
display: block;
height: 100%;
position: absolute;
width: 100%;
}

@media (min-width: 1377px) {
    .bg img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 30%);
}
}
/* Circular Content Carousel Style */
.ca-container{
	position:relative;
	margin:25px auto 20px auto;
	width:990px;
	height:450px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:330px;
	height:100%;
	text-align:center;
}
.ca-more{
	position: absolute;
	bottom: 10px;
	right:0px;
	padding:4px 15px;
	font-weight:bold;
	background: #ccbda2;
	text-align:center;
	color: white;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	text-shadow:1px 1px 1px #897c63;
}
.ca-close{
	position:absolute;
	top:10px;
	right:10px;
	background:#fff url(../images/cross.png) no-repeat center center;
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	opacity:0.7;
}
.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	padding:20px;
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	background:#fff;
	overflow:hidden;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.ca-icon{
	width:233px;
	height:189px;
	position:relative;
	margin:0 auto;
	background:transparent url(../images/animal1.png) no-repeat center center;
}
.ca-item-2 .ca-icon{
	background-image:url(../images/animal2.png);
}
.ca-item-3 .ca-icon{
	background-image:url(../images/animal3.png);
}
.ca-item-4 .ca-icon{
	background-image:url(../images/animal4.png);
}
.ca-item-5 .ca-icon{
	background-image:url(../images/animal5.png);
}
.ca-item-6 .ca-icon{
	background-image:url(../images/animal6.png);
}
.ca-item-7 .ca-icon{
	background-image:url(../images/animal7.png);
}
.ca-item-8 .ca-icon{
	background-image:url(../images/animal8.png);
}
.ca-item h3{
	font-family: 'Coustard', sans-serif;
	text-transform:uppercase;
	font-size:30px;
	color:#000;
	margin-bottom:20px;
	height:85px;
	text-align:center;
	text-shadow: 0px 1px 1px #e4ebe9;
}
.ca-item h4{
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	font-size:12px;
	text-align:left;
	border-left:10px solid #b0ccc6;
	padding-left:10px;
	line-height:24px;
	margin:10px;
	position:relative;
}
.ca-item h4 span{
	text-indent:40px;
	display:block;
}
.ca-item h4  span.ca-quote{
	color:#f4eee3;
	font-size:100px;
	position:absolute;
	top:20px;
	left:0px;
	text-indent:0px;
}
.ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:660px;
	overflow:hidden;
}
.ca-content-text{
	font-size: 14px;
	font-style: italic;
	font-family: "Georgia","Times New Roman",serif;
	margin:10px 20px;
	padding:10px 20px;
	line-height:24px;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:32px;
	padding-bottom:5px;
	color:#000;
	font-family: 'Coustard', sans-serif;
	color:#60817a;
	border-bottom:2px solid #99bcb4;
	text-shadow: 1px 1px 1px #99BCB4;
}
.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(../images/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-40px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}

@media screen and (max-width: 500px)
{
.carousel-caption p {
margin-top: -25px;
}
}


.error {
background: url('../images/error.jpg')  no-repeat scroll center center / cover     rgba(0, 0, 0, 0);
display: block;
height: 100%;
position: absolute;
width: 100%;
}

@media (min-width: 1377px) {
    .error-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 30%);
}
}

.error-container p {
color: #a36124;
text-align: center;
font-size: 18px;
font-family: 'Roboto';
font-weight: 700;

}
.btn-back {
    background: #b53c26;
    font-family: 'Roboto';
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
}

.carousel-caption h3 {
    text-shadow: none;
    font-size: 5vw;
line-height: 5.05vw;
font-family: 'Roboto';
color: #fff;
    font-weight: 300;
    transition-delay: .3s;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
}

.carousel-caption p {
font-family: 'Roboto';
    font-size: 2.5vw;
    line-height: 2.1vw;
    font-weight: 500;
    margin-top: 20px;
    color: #fff;
    transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
}